{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Contact US</h1>
                            <p>Stay close</p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section id="map-section">
        <div class="container">
            <div id="gmap"></div>
            <div class="contact-info">
                <h2>Contacts</h2>
                <address>
                E-mail: <a href="mailto:someone@example.com">quiltinegypt@gmail.com</a> <br> 
                Phone: +20 (122) 346 6631 <br> 
                
                </address>

                <h2>Address</h2>
                <address>
                د20 مينا جاردن سيتي  <br> 
                6 اكتوبر, <br> 
                الجيزة <br> 
                مصر <br>  
                </address>
            </div>
        </div>
    </section> <!--/#map-section-->        

{% endblock content %}