{% extends 'core/base.html' %}

{% load static %}
{% block title %} Welcome |  {% endblock %}
{% block content %}
    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>We Are Creative Nerds</h1>
                        <p>You can find what you need, to decorate your house with our fine Quilt products, or Crochet. </p>
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'vendor_admin' %}" class="btn btn-common">Dashboard</a></li>
                        {% else %}
                            <li><a href="{% url 'become_vendor' %}" class="btn btn-common">SIGN UP</a></li>
                        {% endif %}
                        
                    </div>
                    <img src="{% static 'images/home/slider/hill.png' %}" class="slider-hill" alt="slider image">
                    <img src="{% static 'images/home/slider/house.png' %}" class="slider-house" alt="slider image">
                    <img src="{% static 'images/home/slider/sun.png' %}" class="slider-sun" alt="slider image">
                    <img src="{% static 'images/home/slider/birds1.png' %}" class="slider-birds1" alt="slider image">
                    <img src="{% static 'images/home/slider/birds2.png' %}" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="{% static 'images/home/icon1.png'%}" alt="">
                        </div>
                        <h2>Incredibly Responsive</h2>
                        <p>Ground round tenderloin flank shank ribeye. Hamkevin meatball swine. Cow shankle beef sirloin chicken ground round.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="{% static 'images/home/icon2.png'%}" alt="">
                        </div>
                        <h2>Superior Typography</h2>
                        <p>Hamburger ribeye drumstick turkey, strip steak sausage ground round shank pastrami beef brisket pancetta venison.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="{% static 'images/home/icon3.png'%}" alt="">
                        </div>
                        <h2>Swift Page Builder</h2>
                        <p>Venison tongue, salami corned beef ball tip meatloaf bacon. Fatback pork belly bresaola tenderloin bone pork kevin shankle.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="features">
        <div class="container">
            <div class="row">
                {% for product in newest_products %}
                    <div class="single-features">
                        <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="{{ product.image.url }}" class="img-responsive" alt="">
                        </div>
                        <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h2>{{ product.title}}</h2>
                            <P>{{ product.description }}</P>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
     <!--/#features-->

    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><img src="{% static 'images/home/clients.png' %}" class="img-responsive" alt=""></p>
                        <h1 class="title">Happy Quilts</h1>
                        <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam, quis nostrud </p>
                    </div>
                    <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        {% for product in newest_products %}
                        <div class="col-xs-3 col-sm-2">
                            <a href="#"><img src="{{ product.get_thumbnail }}" class="img-responsive" alt=""></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
     </section>
    <!--/#clients-->


{% endblock content %}