{% extends 'core/base2.html' %}
{% load static %}

{% block title %} {{product.title}} | {% endblock title %}

{% block content %}

<section class="page-search">
	<div class="container">
		<div class="row">
			<div class="offset-md-4">
				<!-- Advance Search -->
				<div class="advance-search">
					<form method="get" action="{% url 'search' %}">
						<div class="form-row">
							<div class="form-group col-md-4" align="center">
								<input type="text" class="form-control my-2 my-lg-0" name="query" id="inputtext4" placeholder="What are you looking for">
							</div>
							<div class="form-group col-md-2">

								<button type="submit" class="btn btn-primary">Search Now</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--===================================
=            Store Section            =
====================================-->
<section class="section bg-gray">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
            
			<!-- Left sidebar -->
			<div class="col-md-8">
				<div class="product-details">
					<h1 class="product-title">{{product.title}}</h1>
					<div class="product-meta">
						<ul class="list-inline">
							<li class="list-inline-item"><i class="fa fa-user-o"></i> By <a href="">{{product.vendor.name}}</a></li>
							<li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Category<a href="">{{product.category}}</a></li>
							<li class="list-inline-item"><i class="fa fa-location-arrow"></i> Date_Created<a href="">{{product.date_added}}</a></li>
						</ul>
					</div>
					<!-- product slider -->
					<div class="product-slider">
						{% if product.image %}
							<div class="product-slider-item my-4" data-image="{{product.image.url}}">
								<img class="img-fluid w-100" src="{{product.image.url}}" alt="product-img">
							</div>
						{% endif %}
						{% if product.image_two %}
							<div class="product-slider-item my-4" data-image="{{product.image_two.url}}">
								<img class="d-block img-fluid w-100" src="{{product.image_two.url}}" alt="Second slide">
							</div>
						{% endif %}
						{% if product.image_three %}
							<div class="product-slider-item my-4" data-image="{{product.image_three.url}}">
								<img class="d-block img-fluid w-100" src="{{product.image_three.url}}" alt="Third slide">
							</div>
						{% endif %}
						{% if product.image_three %}
							<div class="product-slider-item my-4" data-image="{{product.image_three.url}}">
								<img class="d-block img-fluid w-100" src="{{product.image_three.url}}" alt="Third slide">
							</div>
						{% endif %}
						{% if product.image %}
							<div class="product-slider-item my-4" data-image="{{product.image.url}}">
								<img class="d-block img-fluid w-100" src="{{product.image.url}}" alt="Third slide">
							</div>
						{% endif %}
					</div>
					<!-- product slider -->                    
                    
					<div class="content mt-5 pt-5">
						<ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
								 aria-selected="true">Product Details</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
								 aria-selected="false">Specifications</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
								 aria-selected="false">Reviews</a>
							</li>
						</ul>
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
								<h3 class="tab-title">Product Description</h3>
								<p>{{product.brief_description}}</p>

								<iframe id="ytplayer" type="text/html" width="720" height="405"
                                src="https://www.youtube.com/embed/r3YcQAB8imk"
                                frameborder="0" allowfullscreen> </iframe>
								
								<p><div class="fb-comments" data-href="http://hanaaquilt.sewemall.com/photo/{{photo.id}}" data-width="" data-numposts="4"></div></p>


							</div>
							<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
								<h3 class="tab-title">Product Specifications</h3>
								<table class="table table-bordered product-table">
									<tbody>
										<tr>
											<td>Seller Price</td>
											<td>L.E{{product.price}}</td>
										</tr>
										<tr>
											<td>Added</td>
											<td>{{product.date_added}}</td>
										</tr>
										<tr>
											<td>Category</td>
											<td>{{product.category}}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
								<h3 class="tab-title">Product Review</h3>
								<div class="product-review">
									{% for review in product.reviews.all %}
											<div class="media">
												<!-- Avater -->
												<img src="{% static 'images/user/user-thumb.jpg' %}" alt="avater">
												<div class="media-body">
													<!-- Ratings -->
													<div class="ratings">
														<ul class="list-inline">
															
																<li class="list-inline-item">
																	{{review.stars}} <i class="fa fa-star"></i>
																</li>
															
														</ul>
													</div>
													<div class="name">
														<h5>{{ review.name }}</h5>
													</div>
													<div class="date">
														<p>{{ review.date_added|date:"Y-m-d" }}</p>
													</div>
													<div class="review-comment">
														<p>
															{{review.content}}
														</p>
													</div>
												</div>
											</div>
									{% empty %}
													<div class="review-comment">
														<p>
															SIGN IN 
														</p>
													</div>
									{% endfor %}

									<div class="review-submission">
										<h3 class="tab-title">Submit your review</h3>
										<!-- Rate -->

										<div class="review-submit">
											{% if request.user.is_authenticated %}
											<form method="post" action=".">
											{% csrf_token %}
												<div class="col-lg-6">
													<input type="text" name="name" id="name" class="form-control" placeholder="Name"
													value="{{user.first_name}} {{user.last_name}}">
												</div>
												<div class="col-lg-6">
													<select name="stars" id="stars" class="form-control" >
														<option value="1">1</option>
                                    					<option value="2">2</option>
                                    					<option value="3" selected>3</option>
                                    					<option value="4">4</option>
                                    					<option value="5">5</option>
                                					</select>

												</div>
												<div class="col-12">
													<textarea name="content" id="content" rows="10" class="form-control" placeholder="Message"></textarea>
												</div>
												<div class="col-12">
													<button type="submit" class="btn btn-main">Sumbit</button>
												</div>
											</form>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar">
					<div class="widget price text-center">
						<h4>Price</h4>
						<p> L.E {{product.price }}</p>
					</div>
					<!-- User Profile widget -->
					<div class="widget user text-center">
						<img class="rounded-circle img-fluid mb-5 px-5" src="{% static 'images/user/userlogo.png' %}" alt="">
						<h4><a href="">{{product.vendor.name}}</a></h4>
						<p class="member-time">{{product.vendor.created_at}}</p>
						<a href="{% url 'vendor_admin' %}">See all ads</a>
						<ul class="list-inline mt-20">
							
        			        <li class="list-inline-item"><button class="btn btn-contact d-inline-block  btn-primary px-lg-5 my-1 px-md-3" data-toggle="modal" data-target="#inquiryModal">Send inquiry</button></li>
							
						</ul>
					</div>

					<!-- Map Widget -->

					<!-- Rate Widget -->
					<!-- Safety tips widget -->
					<div class="widget disclaimer">
						<iframe id="quilt" src="" width="83" height="28" style="border:none;overflow:hidden" scrolling="no"  frameborder="0" allowTransparency="true"></iframe>

						<a href="whatsapp://send?text=http://hanaaquilt.sewemall.com/" data-action="share/whatsapp/share">Share in Whatsapp</a>
					</div>
					<!-- Coupon Widget -->

				</div>
			</div>

		</div>
	</div>
	<!-- Container End -->
	
					<!-- Inquiry Modal -->
								<div class="modal fade" id="inquiryModal" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
										<div class="contact-dealer modal-header">
											<h5 class="modal-title" id="inquiryModalLabel">Contact {{ product.vendor.name }}</h5>
											
											<button type="button" class="close" data-dismiss="modal">
											<span>&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form action="{% url 'inquiry' %}" method="POST">
											{% csrf_token %}

											{% if user.is_authenticated %}
												<input type="hidden" name="user_id" value="{{user.id}}">
											{% else %}
												<input type="hidden" name="user_id" value="0">
											{% endif %}
											
												<input type="hidden" name="quilt_id" value="{{photo.id}}">
												<input type="hidden" name="owner_id" value="{{product.vendor.id}}">
												
												<div class="form-group">
												<label for="name" class="col-form-label">Hello, My Name is</label>
												<div class="row">
													<div class="col">
													<input type="text" name="first_name" class="form-control" placeholder="First Name"
													{% if user.is_authenticated %} value="{{user.first_name}}"  {% endif %} required>
													</div>
													<div class="col">
													<input type="text" name="last_name" class="form-control" placeholder="Last Name"
													{% if user.is_authenticated %} value="{{user.last_name}}"  {% endif %} required>
													</div>
												</div>
												</div>
												<div class="form-group">
													<select class="form-control" id="sel1" name="customer_need">
														<option value="I'm interested in this">I'm interested in this</option>
														<option value="I'd like to know your best price for this">I'd like to know your best price for this</option>
														<option value="I'd like to test drive this">I'd like to test drive this</option>
														<option value="I'd like a history report for this">I'd like a history report for this</option>
													</select>
													</div>

												<div class="form-group">
												<input type="text" name="quilt_listing" class="form-control" value="{{ photo.title }}" readonly>
												</div>

												<div class="form-group">
												<label for="name" class="col-form-label">I live in</label>
												<div class="row">
													<div class="col">
													<input type="text" name="city" class="form-control" placeholder="City" >
													</div>
													<div class="col">
													<input type="text" name="district" class="form-control" placeholder="District" required>
													</div>
												</div>
												</div>

												<div class="form-group">
												<div class="row">
													<div class="col">
														<label for="email" class="col-form-label">You can reach me by email at</label>
													<input type="email" name="email" class="form-control" placeholder="Email Address"
													{% if user.is_authenticated %} value="{{user.email}}"  {% endif %} required>
													</div>
													<div class="col">
														<label for="phone" class="col-form-label">or by phone at</label>
													<input type="text" name="phone" placeholder="Phone Number (optional)" class="form-control">
													</div>
												</div>
												</div>

												<div class="form-group">
												<label for="message" class="col-form-label">Add message</label>
												<textarea name="message" class="form-control" placeholder="Enter your message here (optional)"></textarea>
												</div>
												<hr>
												<input type="submit" value="Send" class="btn btn-block btn-danger">
											</form>
										</div>
										</div>
									</div>
								</div>
							
</section>

{% endblock content %}
