{% load static %}

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light navigation">
					<a class="navbar-brand" href="{% url 'frontpage' ">
						<img src="{% static 'images/logo.png' %}" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto main-nav ">
							<li class="nav-item">
								<a
                                {% if '/' == request.path %}
                                    class="nav-link active"
                                {% else %}
                                    class="nav-link"
                                {% endif %}
                                href="{% url 'frontpage' %}">
                                Home
                                </a>
							</li>
							<li class="nav-item">
								<a
                                {% if 'about' == request.path %}
                                    class="nav-link active"
                                {% else %}
                                    class="nav-link"
                                {% endif %}
                                href="{% url 'about' %}">
                                About
                                </a>
							</li>

							<li class="nav-item">
								<a
                                {% if 'contact' == request.path %}
                                    class="nav-link active"
                                {% else %}
                                    class="nav-link"
                                {% endif %}
                                href="{% url 'contact' %}">
                                Contact
                                </a>
							</li>
							<li class="nav-item">
								<a
                                {% if 'gallery' == request.path %}
                                    class="nav-link active"
                                {% else %}
                                    class="nav-link"
                                {% endif %}
                                href="{% url 'gallery' %}">
                                Gallery
                                </a>
							</li>

							<li class="nav-item dropdown dropdown-slide">
								
									<a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Categories <span><i class="fa fa-angle-down"></i></span>
									</a>
								
									<div class="dropdown-menu">
                                        {% for category in menu_categories %}
                                            <a class="dropdown-item" href="{% url 'category' category.slug %}">{{ category.title }}</a>
                                        {% endfor %}
                                	</div>
								
								<!-- Dropdown list -->

							</li>
						</ul>

						<ul class="navbar-nav ml-auto mt-10">
                          {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'vendor_admin' %}" class="nav-link login-button"><i class="fa fa-tachometer"></i> Dashboard</a>
                            </li>

                            <li class="nav-item">
                                <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link logout-button"><i class="fa fa-sign-out"></i> Logout</a>
                                <form action="{% url 'logout' %}" id="logout" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden">
                                </form>
                            </li>
                            {% else %}
                                <li class="nav-item">
                                    <a href="{% url 'login' %}" class="nav-link login-button"><i class="fa fa-sign-in"></i> Login</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'become_vendor' %}" class="nav-link login-button"><i class="fa fa-sign-in"></i> Register</a>
                                </li>
                            {% endif %}
						</ul>

					</div>
				</nav>
			</div>
		</div>
	</div>
</section>